


<!DOCTYPE html>
<html>
<head>
	<title>The Alexander Group</title>

	<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css?family=Lato:400,900|PT+Serif:400,400i" rel="stylesheet">
	<link rel="stylesheet"  href="../web/assets/css/main.css">
</head>
<body>
	<div class="menuButton-container" id="hamburger">
	<div class="menu btn1" data-menu="1">
   		<div class="icon-left"></div>
    	<div class="icon-right"></div>
	</div>
</div>
<nav class="main-nav">
	<div class="container">
		<ul>
			<li><a class="active" href="">Home</a></li>
			<li><a href="">What we do</a></li>
			<li><a href="">Expertise</a></li>
			<li><a href="">Consultants</a></li>
			<li><a href="">Insights</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
</nav>

	    
    <nav class="footer">
	<div class="container">
		<div class="footer-section">
			<a href="/"><img src="../web/assets/img/tag-footer.png" alt="The Alexander Group logo"></a>
		</div>
		<div class="footer-section siteMap">
			<h6>Site Map</h6>
			<ul>
				<li><a href="#">What we do</a></li>
				<li><a href="#">Expertise</a></li>
				<li><a href="#">Consultants</li>
				<li><a href="#">Insights</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h6>Stay Connected</h6>
			<ul>
				<li><a href="#">LinkedIn</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
		</div>
		<div class="footer-section alexRed">
			<p>For mid-management seacrhes, please visit our sister firm</p>
			<img src="../web/assets/img/alex&red.png" alt="Alex & Red">
		</div>
	</div>
	<div class="container">
		<ul>
			<li>Houston</li>
			<li>London</li>
			<li>New York</li>
			<li>Park City</li>
			<li>San Diego</li>
			<li>San Francisco</li>
		</ul>
		<div class="copyright">
			<p>Copyright &#169; <script>document.write(new Date().getFullYear())</script> The Alexander Group</p>
			<a href="#">Terms of service</a> | <a href="#">Privacy</a>
		</div>
	</div>
</nav>
    
	<script  src="../web/assets/js/main.js"></script>
</body>
</html>