


<!DOCTYPE html>
<html>
<head>
	<title>The Alexander Group</title>

	<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet"  href="../web/assets/css/main.css">
</head>
<body>
	<nav class="main-nav">
	<div class="container">
		<ul>
			<li><a class="active" href="">Home</a></li>
			<li><a href="">What we do</a></li>
			<li><a href="">Expertise</a></li>
			<li><a href="">Consultants</a></li>
			<li><a href="">Insights</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
</nav>
	    	<script  src="../web/assets/js/main.js"></script>
</body>
</html>