


<!DOCTYPE html>
<html>
<head>
	<title>The Alexander Group</title>

	<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet"  href="../web/assets/css/main.css">
</head>
<body>
	<div class="menuButton-container" id="hamburger">
	<div class="menu btn1" data-menu="1">
   		<div class="icon-left"></div>
    	<div class="icon-right"></div>
	</div>
</div>
<nav class="main-nav">
	<div class="container">
		<ul>
			<li><a class="active" href="">Home</a></li>
			<li><a href="">What we do</a></li>
			<li><a href="">Expertise</a></li>
			<li><a href="">Consultants</a></li>
			<li><a href="">Insights</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
</nav>

	
<!-- HERO -->
<section class="hero">
	<div class="container">
		<div class="text-container">
			<div class="logo-container">
				<img src="../web/assets/img/tag-logo.png" alt="TAG logo">
			</div>
			<div class="text">
				<h1>Lorem ipsum dolor sit amet.</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iure voluptas nam sed nostrum voluptatum alias ullam optio suscipit repellat corporis facilis corrupti numquam, quos eum quibusdam facere. Qui, ab!</p>
			</div>
		</div>
		<div class="hero-slider">
			<div class="button-container">
				<button>learn more</button>
			</div>
		</div>
	</div>
</section>

<!-- ABOUT -->
<section class="about" id="about">
	<div class="container">
		<div class="text-container">
			<h2>Ineteger posuere natis dapibus</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum laudantium illum odit expedita tempora, molestias dolore officia a sequi quod, tempore, provident at? Amet molestias alias, suscipit exercitationem voluptatum provident.</p>
		</div>
		<div class="container">
			<div class="about-item">
				<span class="number n1" id="aboutItem1">35</span>
				<h4>Years <br><em>of experience</em></h4>
			</div>
			<div class="about-item">
				<span class="number n2" id="aboutItem2">4000</span>
				<h4>Searches <br> <em>conducted</em></h4>
			</div>
			<div class="about-item">
				<span class="number n2" id="aboutItem3">85%</span>
				<h4>Repeat <br> <em>business</em></h4>
			</div>
		</div>
		<div class="button-container">
			<a href="#">Read about us</a>
		</div>
	</div>
</section>

<!-- SEARCHES -->
<section class="searches">
	<div class="container">
		<h2>Featured Searches</h2>
		<div class="sliderSearch" id="sliderSearch">
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
		</div>
	</div>
</section>

<!-- CLIENTS -->
<section class="clients">
	<div class="container">
		<div class="picture-container">
			<img src="../web/assets/img/clients.png" alt="Clients">
		</div>
		<div class="slider-container">
			<div id="sliderClient">
				<div>
					<h4>What our client say</h4>
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quisquam, dicta doloremque, a rem vel aspernatur.
					</blockquote>
					<h6>ABC Company</h6>
				</div>
				<div>
					<h4>What our 2 client say</h4>
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quisquam, dicta doloremque, a rem vel aspernatur.
					</blockquote>
					<h6>XYZ Company</h6>
				</div>
				<div>
					<h4>What our 3 client say</h4>
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quisquam, dicta doloremque, a rem vel aspernatur.
					</blockquote>
					<h6>BNJ Company</h6>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- INSIGHTS -->
<section class="insights">
	<div class="container">
		<h2>Latest Insights</h2>
		<a href="#">View all articles</a>
	</div>
	<div class="container">
		<div class="insights-item item1">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item2">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item3">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item4">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item5">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item6">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
	</div>
</section>



    <nav class="footer">
	<div class="container">
		<div class="footer-section">
			<a href="/"><img src="../web/assets/img/tag-footer.png" alt="The Alexander Group logo"></a>
		</div>
		<div class="footer-section siteMap">
			<h6>Site Map</h6>
			<ul>
				<li><a href="#">What we do</a></li>
				<li><a href="#">Expertise</a></li>
				<li><a href="#">Consultants</li>
				<li><a href="#">Insights</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h6>Stay Connected</h6>
			<ul>
				<li><a href="#">LinkedIn</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
		</div>
		<div class="footer-section alexRed">
			<p>For mid-management seacrhes, please visit our sister firm</p>
			<img src="../web/assets/img/alex&red.png" alt="Alex & Red">
		</div>
	</div>
	<div class="container">
		<ul>
			<li>Houston</li>
			<li>London</li>
			<li>New York</li>
			<li>Park City</li>
			<li>San Diego</li>
			<li>San Francisco</li>
		</ul>
		<div class="copyright">
			<p>Copyright &#169; <script>document.write(new Date().getFullYear())</script> The Alexander Group</p>
			<a href="#">Terms of service</a> | <a href="#">Privacy</a>
		</div>
	</div>
</nav>
    
	<script  src="../web/assets/js/main.js"></script>
</body>
</html>