/****************** GLOBAL *********************/

$fontFamilySerif: serif;
$fontFamilySans: sans-serif;
$sectionPadding: 5rem;
$sectionMargin: 4rem;

// font colors
$mainFontColor: #3f3f3f; // gray
$grayHeader: #515151;   // dark gray
$blueHeader: #2fade0;

html{
	overflow-x:hidden;
	font-size:23px;
	@media (max-width: 1024px) {
		font-size: 20px;
	}
	@media (max-width: 640px) {
		font-size: 18px;
	}
	@media (max-width: 320px) {
		font-size: 15px;
	}
}

body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: $mainFontColor;
	font-family: $fontFamilySerif;
}

h1, h2, h3, h4, h5, h6{
	font-family: $fontFamilySans;
	line-height: 110%;
	font-weight: bold;
	letter-spacing: 3px
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 2.5rem;
}

h4{
	font-size: 2rem;
}

section{
	margin-top: $sectionMargin;
	margin-bottom: $sectionMargin;
}

.container{
	padding-left: $sectionPadding;
	padding-right: $sectionPadding;
	@media (max-width: 640px) {
		padding-left: $sectionPadding - 1rem;
		padding-right: $sectionPadding - 1rem;
	}
	@media (max-width: 500px) {
		padding-left: $sectionPadding - 3rem;
		padding-right: $sectionPadding - 3rem;
	}
}