{% block content %}
<nav class="footer">
	<div class="container">
		<div class="footer-section">
			<img src="../web/assets/img/tag-footer.png" alt="The Alexander Group logo">
		</div>
		<div class="footer-section siteMap">
			<h6>Site Map</h6>
			<ul>
				<li><a href="#">What we do</a></li>
				<li><a href="#">Expertise</a></li>
				<li><a href="#">Consultants</li>
				<li><a href="#">Insights</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h6>Stay Connected</h6>
			<ul>
				<li><a href="#">LinkedIn</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
		</div>
		<div class="footer-section alexRed">
			<p>For mid-management seacrhes, please visit our sister firm</p>
			<img src="../web/assets/img/alex&red.png" alt="Alex & Red">
		</div>
	</div>
	<div class="container">
		<ul>
			<li>Houston</li>
			<li>London</li>
			<li>New York</li>
			<li>Park City</li>
			<li>San Diego</li>
			<li>San Francisco</li>
		</ul>
		<div class="copyright">
			<p>Copyright c 2018 The Alexander Group</p>
			<a href="#">Terms of service</a> | <a href="#">Privacy</a>
		</div>
	</div>
</nav>
{% endblock %}