{% extends "_layout.html" %}

{% block content %}

<!-- HERO -->
<section class="hero">
	<div class="container">
		<div class="text-container">
			<div class="logo-container">
				<img src="../web/assets/img/tag-logo.png" alt="TAG logo">
			</div>
			<div class="text">
				<h1>Lorem ipsum dolor sit amet.</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iure voluptas nam sed nostrum voluptatum alias ullam optio suscipit repellat corporis facilis corrupti numquam, quos eum quibusdam facere. Qui, ab!</p>
			</div>
		</div>
		<div class="hero-slider">
			<div class="button-container">
				<button>learn more</button>
			</div>
		</div>
	</div>
</section>

<!-- ABOUT -->
<section class="about" id="about">
	<div class="container">
		<div class="text-container">
			<h2>Ineteger posuere natis dapibus</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum laudantium illum odit expedita tempora, molestias dolore officia a sequi quod, tempore, provident at? Amet molestias alias, suscipit exercitationem voluptatum provident.</p>
		</div>
		<div class="container">
			<div class="about-item">
				<span class="number n1" id="aboutItem1">35</span>
				<h4>Years <br><em>of experience</em></h4>
			</div>
			<div class="about-item">
				<span class="number n2" id="aboutItem2">4000</span>
				<h4>Searches <br> <em>conducted</em></h4>
			</div>
			<div class="about-item">
				<span class="number n2" id="aboutItem3">85%</span>
				<h4>Repeat <br> <em>business</em></h4>
			</div>
		</div>
		<div class="button-container">
			<a href="#">Read about us</a>
		</div>
	</div>
</section>

<!-- SEARCHES -->
<section class="searches">
	<div class="container">
		<h2>Featured Searches</h2>
		<div class="sliderSearch" id="sliderSearch">
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
		</div>
	</div>
</section>

<!-- CLIENTS -->
<section class="clients">
	<div class="container">
		<div class="picture-container">
			<img src="../web/assets/img/clients.png" alt="Clients">
		</div>
		<div class="slider-container">
			<div id="sliderClient">
				<div>
					<h4>What our client say</h4>
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quisquam, dicta doloremque, a rem vel aspernatur.
					</blockquote>
					<h6>ABC Company</h6>
				</div>
				<div>
					<h4>What our 2 client say</h4>
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quisquam, dicta doloremque, a rem vel aspernatur.
					</blockquote>
					<h6>XYZ Company</h6>
				</div>
				<div>
					<h4>What our 3 client say</h4>
					<blockquote>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quisquam, dicta doloremque, a rem vel aspernatur.
					</blockquote>
					<h6>BNJ Company</h6>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- INSIGHTS -->
<section class="insights">
	<div class="container">
		<h2>Latest Insights</h2>
		<a href="#">View all articles</a>
	</div>
	<div class="container">
		<div class="insights-item item1">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item2">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item3">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item4">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item5">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
		<div class="insights-item item6">
			<time>october 15, 2018</time>
			<h5>The full time job of finding a job</h5>
			<h6><em>By Robert Doe</em></h6>
			<a href="#" class="button">&#8594;</a>
		</div>
	</div>
</section>


{% endblock %}
